@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
		url('fonts/opensans/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
		url('fonts/opensans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
		url('fonts/opensans/OpenSans-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
		url('fonts/opensans/OpenSans-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Bold'), local('OpenSans-Bold'),
		url('fonts/opensans/OpenSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
		url('fonts/opensans/OpenSans-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Light'), local('OpenSans-Light'),
		url('fonts/opensans/OpenSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Italic'), local('OpenSans-Italic'),
		url('fonts/opensans/OpenSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
		url('fonts/opensans/OpenSans-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
		url('fonts/opensans/OpenSans-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}
