@import 'color';
@import 'mixins';
@import 'variables';

html, body {
  font: 100% $font-principal;
  color: $gray-text;
}

footer {
  display: flex;
  background: $orange;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 190px;

  h2 {
    color: $white;
    font-size: 1.2em;
    font-weight: 600;
  }

  input[type=text] {
    width: 350px;
    height: 40px;
    border: 0;
    border-radius: 14px;
  }

  input[type=submit] {
    height: 40px;
    width: 125px;
    border-radius: 8px;
    background: transparent;
    border: 2px solid $white;
    font-size: 1.2em;
    color: $white;
    font-weight: 500;
  }
}

.flex-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
}

.decorator {
  height:12px;
  width: 100%;
  background-image: url(asset_path("triangle.png"));
}

.principal {
  margin-top: 45px;
  padding-bottom: 60px;
}


.features {
  padding-top: 60px;
  padding-bottom: 100px;
  justify-content: space-around;
  text-align: center;
  background: $gray-bg;
  flex-wrap: wrap;

  .item {
    @media screen and (max-width: $break-medium) {
      margin-bottom: 40px;
    }
  }

  .item dt {
    margin-top: 10px;
    color: $dark-gray;
    font-weight: 600;
  }

  .item dd {
    margin-top: 15px;
    max-width: 220px;
    font-weight: 600;
  }
}

.bar-header {
  width:100%;
  height: 9px;
  background: $orange;
}

.medium-hide {
  @media screen and (max-width: $break-medium) {
    display: none;
  }
}

#logo {
  align-self: center;
}

#bar-separator {
  align-self: center;
  margin-left: 20px;
  margin-right: 20px;
  width: 3px;
  height: 300px;
  background-image: linear-gradient($white, $orange, $white);
}
